.text-light {
    color: #450358 !important;
}
.bg-dark {
    background-color: #53d2db !important;
}
.bg-dark-x {
    background-color: #fff;
}
.btn {
    min-height: 3.125rem;
    font-weight: 600;
}
.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: #fff;
    outline: none;
}
.img-3 {
    background-image: url('../../assets/images/registro1.jpg');
    background-size: cover;
    background-position: center;
}
.img-4 {
    background-image: url('../../assets/images/registro2.jpg');
    background-size: cover;
    background-position: center;
}
